.block__trash{
  width: 18px;
  height: 19px;
  background: url(../../../images/Trash.svg) no-repeat;
  background-size: cover;
  cursor: pointer;
  border-width: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
}