.popup__input-container{
   width: 358px;
   margin: 0;
   border: 0;
   border-bottom: 1px solid rgba(0, 0, 0, .2);
}

@media screen and (max-width: 660px){
    .popup__input-container{
        width: 238px;
    }
    }