.popup-place__item {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  margin-bottom: 30px;
  width: 358px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup-place__item:nth-child(2) {
  margin-bottom: 0;
}

@media screen and (max-width: 660px) {
  .popup-place__item {
    width: 238px;
  }
}