.popup-image__button {
  background: url(../../../images/close-button1.svg) no-repeat;
  object-fit: contain;
  object-position: center;
  border: 0;
  cursor: pointer;
  padding: 16px;
  align-self: flex-end;
  position: absolute;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 660px) {
    .popup-image__button {
        right: 0px;
        padding: 10px;
        top: -28px;
        margin-bottom: 8px;
        background: url(../../../images/close-button2.svg) no-repeat;
    }
  }
