.header {
    position: relative;
    max-width: 880px;
    padding-bottom: 41px;
    margin: 45px auto 0;
    justify-content: space-between;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-bottom: 1px solid #545454;
    opacity: 0.7;
    }

    @media screen and (max-width: 660px){
        .header{
            margin-top: 28px;
            padding: 0 0 32px 27px;
        }
        }