.popup__input-container{
    max-width: 430px;
    min-width: 282px;
    width: 100%;
    position: relative;
}

@media screen and (max-width: 660px) {
    .popup__input-container {
      min-width: 238px;
    }
  }