.popup__form {
  max-width: 430px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 0;
}

@media screen and (max-width: 660px) {
  .popup__form {
    min-width: 282px;
  }
}