.profile__description{
font-family: 'Inter', Arial, Helvetica, sans-serif;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
margin: 0;

}

@media screen and (max-width: 660px){
    .profile__description{
        font-size: 14px;
        line-height: 17px;
        margin: 14px 0 0 -28px;
    }
    }

