.popup__input-text{
font-family: 'Inter', Arial, Helvetica, sans-serif;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #000000;
border: 0;
width: 358px;
}

@media screen and (max-width: 660px){
    .popup__input-text{
        width: 238px;
    }
    }